// Primary color
$color-primary:#7209b7;
$color-primary-light:#850cd6;
$color-primary-dark:#5d0896;

// Secondary color
$color-secondary:#3d80ce;
$color-secondary-light:#4896ef;
$color-secondary-dark:#2f6098;

// White and Black
$color-white:#edf2f4;
$color-black:#2b2d42;

// Grey shades
$color-grey:#6c757d;
$color-grey-light-1:#adb5bd;
$color-grey-light-2:#ced4da;
$color-grey-dark-1:#495057;
$color-grey-dark-2:#343a40;


// Font
$font-default:1.6rem;


