.u-center-text { text-align: center; }

.u-mb-s { margin-bottom: 1.5rem; }
.u-mb-m { margin-bottom: 4rem; }
.u-mb-l{ margin-bottom: 8rem; }

.u-mt-s { margin-top: 1.5rem; }
.u-mt-m { margin-top: 4rem; }
.u-mt-l{ margin-top: 8rem; }