.u-center-text { text-align: center !important; }

.u-mb-s { margin-bottom: 1.5rem !important; }
.u-mb-m { 
    margin-bottom: 4rem !important; 
    
    @include respond(tab-port) {
        margin-bottom: 3rem !important; 
    }
}
.u-mb-l{ 
    margin-bottom: 8rem !important; 
    
    @include respond(tab-port) {
        margin-bottom: 5rem !important; 
    }
}

.u-mt-s { margin-top: 1.5rem !important; }

.u-mt-m { 
    margin-top: 4rem !important;
    
    @include respond(tab-port) {
        margin-top: 3rem !important; 
    }
}

.u-mt-l{ 
    margin-top: 8rem !important; 
    
    @include respond(tab-port) {
        margin-top: 5rem !important; 
    }

}