.navigation {
    

    &__checkbox {
        display: none;
    }

    &__button {
        background-color: $color-white;
        height: 7rem;
        width: 7rem;
        position: fixed;
        top: 6rem;
        right: 6rem;
        border-radius: 50%;
        z-index: 2000;
        cursor: pointer;
        text-align: center;
        box-shadow: 0 1rem 4rem rgba($color-black, $alpha: .2);
    }

    &__bg {
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        position: fixed;
        top: 6.5rem;
        right: 6.5rem;
        background-image: radial-gradient($color-primary-light,$color-primary-dark);
        z-index: 1000;
        transition: transform .8s cubic-bezier(.86,0,.07,1);
        // transform: scale(50);
    }

    &__nav {
        height: 100vh;
        // width: 100%;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 1500;
        opacity: 0;
        width: 0;
        transition: all .8s cubic-bezier(.68,-.55,.265,1.55);
    }

    &__list {
        position: absolute;
        @include absCenter;
        list-style: none;
        width: 100%;
    }

    &__item {
        text-align: center;
        margin: 1rem;
    }

    &__link {
        display: inline-block;
        &:link,
        &:visited{
            font-size: 3rem;
            font-weight: 300;
            padding: .5rem 1rem;
            text-decoration: none;
            color: $color-white;
            text-transform: uppercase;
            background-image: linear-gradient(120deg , transparent 0%, transparent 50%,$color-white 50%);
            background-size: 220%;
            transition: all .3s;
            border-radius: 3px;
            backface-visibility: hidden;
        }

        span {
            display: inline-block;
            margin-right: 1rem;
        }

        &:hover,
        &:active {
            background-position: 100%;
            color: $color-primary;
            transform: translateX(1rem);
        }
    }

    &__checkbox:checked ~ &__bg {
        transform: scale(80);
    }

    &__checkbox:checked ~ &__nav {
        opacity: 1;
        width: 100%;
    }


    &__icon {
        position: relative;
        margin-top: 3.5rem;
        &,
        &::before,
        &::after {
          width: 3rem;
          height: 2px;
          background-color: $color-grey-dark3;  
          display: inline-block;

        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
            transition: all .2s;
        }

        &::before {
            top: -.8rem;
        }


        &::after {
            top: .8rem;
        }
    }


    &__button:hover &__icon::before {
        top: -1rem;
    }

    &__button:hover &__icon::after {
        top: 1rem;
    }


    &__checkbox:checked + &__button &__icon {
        background-color: transparent;
    }

    &__checkbox:checked + &__button &__icon::before {
        top: 0;
        transform: rotateZ(135deg);
    }

    &__checkbox:checked + &__button &__icon::after {
        top: 0;
        transform: rotateZ(225deg);
    }
}