.clock {
    
    &__container {
        margin: 0 auto;
        width: 50rem;
        background-color: $color-white;
        border-radius: 8px;

        // @include respond(phone){
        //     width: 30rem;
        // }
    }

    &__span {
        display: block;
        margin: 0 auto;
        padding:3rem ;
        padding-bottom: 1rem;
        // background-color: red;
        justify-content: center;
        font-size: 6rem;
        text-align: center;
        color: $color-black;

    }

    &__paragraph {
        display: inline-block;
        font-size: inherit;
        color: $color-black;
        
        &--primary {
            color: $color-secondary-light;
        }
    }

}